* {
  box-sizing: border-box;
}

body {
  // margin-top: -25px;
}

.App {
  text-align: center;
}

.main {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 25px;
}

.App-link {
  color: #61dafb;
}
